/* ===========*/

/* body */

/* ===========*/

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-size: 1em;
}

ul, li {
  margin: 0;
  padding: 0;
  -webkit-padding-start: 0px;
}

#root {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
}

/* ===========*/

/* App Logo */

/* ===========*/

.app-logo {
  width: 70%;
  height: 100%;
}

/* ===========*/

/* Nav bars */

/* ===========*/

ul {
  margin-top: 0px;
}

a {
  text-decoration: none;
}

.main-nav-menu a {
  color: #083D8C !important;
}

.find-pool-btn {
  color: #083D8C !important;
  background-color: transparent;
  margin-left: auto;
}

.location-icon {
  width: 10%;
}

.second-link-top-menu, .filter-list-wrapper button {
  margin-right: 0px !important;
}

.action-icon {
  width: 13px;
  height: 11px;
  margin: 0px 0px 0px 10px;
}

.second-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ===========*/

/* Body */

/* ===========*/

.main-section-image {
  margin-top: 3px;
  width: 100%;
  clear: both;
}

/* ===========*/

/* filter results section */

/* ===========*/

.filter-list-wrapper button:hover {
  color: #4b4b4b;
}

/* ===========*/

/* Modal */

/* ===========*/

/* code for removing spinner from input type number */

/* For Firefox */

input[type='number'] {
  -moz-appearance: textfield;
}

/* Webkit browsers like Safari and Chrome */

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.check-box-wrapper input[type="checkbox"]:not(:checked), input[type="checkbox"]:checked {
  position: absolute;
  left: -9999%;
}

.check-box-wrapper input[type="checkbox"]+label {
  width: 70px;
  text-align: center;
  border-radius: 3px;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  border: 1px solid black;
  box-sizing: border-box;
  color: black;
  background-color: white;
  margin-bottom: 10px;
}

.check-box-wrapper input[type="checkbox"]:checked+label {
  border: 1px solid white;
  background-color: #01c7c6;
  border: 1px solid black;
  color: black;
  box-sizing: border-box;
}

/* ===========*/

/* filter form check-box */

/* ===========*/

.label-for-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-left: 38px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.label-for-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: -6px;
  left: 0;
  height: 23px;
  width: 23px;
  border-radius: 3px;
  background-color: #eee;
}

.label-for-checkbox input:checked~.checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.label-for-checkbox input:checked~.checkmark:after {
  display: block;
}

.label-for-checkbox .checkmark:after {
  top: 8px;
  left: 7.7px;
  width: 8px;
  height: 8px;
  background: white;
}

/* ================================== */

.check-box-btn-last {
  padding-right: 0px !important;
}

.tool-tip-img {
  height: 19px;
  width: 19px;
  margin-left: 8px;
}

.phone-icon-desktop {
  width: 28px;
  height: 28px;
  margin-right: 15px;
}

.email-icon-img {
  width: 15px;
  height: 13px;
  padding-right: 13px;
}

/* ===========*/

/* service section */

/* ===========*/

.service-img {
  width: 13px;
  margin-right: 13px;
}

/* ===========*/

/* footer */

/* ===========*/

.footer-logo {
  padding-top: 36px;
  padding-bottom: 27px;
}

.footer-icon {
  width: 17px;
  height: 16px;
}

/* ===========*/

/* form       */

/* ===========*/

.form-img {
  width: 21px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #b8b8b8;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #616161;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #616161;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #616161;
}

.phone-number-input {
  width: 38.4%;
}

label {
  margin-bottom: 20px;
}

i {
  margin-left: 8px;
  color: #01c7c6;
}

/* ===========*/

/* media query */

/* ===========*/
@media screen and (max-width: 1024px) {
  .border-img {
    margin-right: 5px;
  }
}

@media screen and (max-width: 980px) {
  .tool-tip-img {
    display: none;
  }
  .border-img {
    display: none;
  }
  .filter-list-wrapper {
    padding: 0;
  }
}